@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #040d17;
  min-height: 100vh;
  color: white;
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: auto;
}

.pdf-document .react-pdf__Page {
  display: inline-block;
  width: auto;
  margin-bottom: 10px; /* Reduce whitespace between pages */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow for separation */
  min-width: -webkit-fill-available !important;
}

.pdf-page {
  padding: 5px;
  background-color: #f0f0f0; /* Gray background for each page */
  margin-bottom: 15px; /* Space between pages */
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

.logoBox {
  padding-top: 10px;
}

.logoBox img {
  margin: auto;
}

.logo {
  margin: 10px;
}

h1 {
  font-size: 50px;
}

.instructions-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}

.file-upload-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.request-form-wrapper {
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

.chat-form {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  width: 50%;
  margin: 30px auto;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.chat-form input[type='text'] {
  width: 100%;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid white;
  outline: none;
  box-sizing: border-box;
  margin: auto;
  height: 50px;
  color: black;
}

.chat-form > button {
  position: absolute;
  right: 80px;
  top: 5px;
}

.send-button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 0 24px #ffeb3b;
  background-color: #ffca00;
  color: #fff;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%2314263b'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.send-button:hover {
  background-color: #ffe80e;
  box-shadow: 0 0 30px #ffe80e;
}

.main-btn {
  background: linear-gradient(45deg, #8527b0, #772df8);
  box-shadow: 0 0 24px #9225ff;
  border: 2px solid #9225ff;
  border-radius: 100px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.main-btn:hover {
  background-color: #782bd3 !important;
  box-shadow: 0 0 34px #7c31d5 !important;
  text-shadow: 0 0 4px #ffffff3d;
  border-color: #782bd3 !important;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.loading-spinner {
  display: inline-block;
  margin: 30px auto;
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #e02aff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.react-chat-viewerBox {
  border-radius: 10px;
}

.input-style {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
  height: 46px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  color: black;
}

.input-label {
  color: #ed9f0c;
  margin-bottom: 5px;
  display: flex;
}

.label-style {
  display: inline-block;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.chat {
  /* width: 700px; */
  height: calc(100vh - 200px);
  margin: auto;
}

.response {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  overflow: auto;
  height: calc(100vh - 200px);
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Makes the track background transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Light grey scrollbar handle */
  border-radius: 10px; /* Rounded corners on the scrollbar handle */
}

::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.image-box {
  margin: auto;
}

.chat-line {
  white-space: pre-wrap;
}

.bold {
  font-weight: 800;
}

.horizontal-line {
  border-bottom: 1px solid #d4caca45;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.chat-line {
  white-space: pre-wrap;
  display: flex;
  align-items: flex-start;
}

.chat-line .avatar {
  width: 32px;
  border-radius: 4px;
  box-shadow: #0000009e 0px 2px 10px;
}

.chat-line .message {
  margin-top: 0;
}

.ai-chat .message {
  line-height: 18px;
  text-shadow: 0 0 4px #ffffff9c;
  font-family: monospace;
  font-size: 14px;
}

.user-chat > .avatar {
  box-shadow: 0 0 24px #ffffff4f;
}

.ai-chat > .avatar {
  box-shadow: 0 0 24px #7d24eb9e;
}

.bold {
  font-weight: 800;
}

.labels-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.label-tag {
  background-color: #66ff90;
  color: #14263b;
  border-radius: 4px;
  padding: 2px 8px;
  height: 20px;
}
